body{
	
	background-image: url(../images/romanticDate.jpg);
	background-size: cover;
	background-color: #99313b;
}

.standard-colors{
	background-color: #ad656d;
	/* border: #829c75 5px solid; */
	border: #17550b 10px ridge;
}

.jumbotron{
	padding: 2rem;
	margin-top: 2rem;
	margin-bottom: 100px;
}

h1{
	margin: auto;
	margin-left: 1rem;
}

#modal-button{
	position: absolute;
	right: 0;
	margin: auto;
	margin-right: 3rem;
}

#search-button{
	margin: auto;
	margin-left: 1rem;
}

#dropdown-button-custom{
	margin: auto;
	margin-right: 1rem;
}

#carouselExampleIndicators{
	margin-bottom: 2em;
}

#grid-column{
	text-align: center;
}


.dropdown-divider{
	margin-left: 10px;
	margin-right: 10px;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

.btn-success{
	background-color: #355f3a;
}