#container{
    background-color: #ad656d;
}
.card{
    margin: 5px;
}
#titleImage{
    margin: 5px;
}
#mediaDiv{
    background-color: #893d46;
}
.list-group{
    background-color: #ad656d
}
#mediaDiv{
    margin-top: 200px;
}