html, body{
	height: 100%;
}

body {
    background-image: url(../images/yellowWine2.jpg);
    background-size: cover;
}

#main-row{
	height: 100%;
	margin: 0;
}

#recipe-main-column{
	text-align: center;
}


/* Side Recipes */

.side-recipe-title{
	/* height: auto; */
	color: white;
	text-align: center;
	background-color: #893d46;
}

.side-recipe-div{
	width: 100%;
	/* height: 50px; */
	margin: 1rem auto;
	background-color: greenyellow;
}





/* Main Column */

#clicked-recipe{
	padding: 18%;
}

/* Clicked Recipe */


#main-recipe-title{
background-color: lightblue;
}

#main-recipe-description{
	background-color: lightcoral;
}

#main-recipe-ingredients{
	background-color: lightgoldenrodyellow;
}

#main-recipe-link{
	background-color: lightgreen;
}





/*



.card{
    margin: 5px;
}
#titleImage{
    margin: 5px;
}

.list-group{
    background-color: #ad656d
}
