html, body{
	height: 100%;
}

body {
    background-image: url(../images/pouringWine.jpg);
    background-size: cover;
}

#main-row{
	height: 100%;
	margin: 0;
}

#recipe-main-column{
	text-align: center;
}


/* Side Recipes */

.side-recipe-title{
	color: white;
	text-align: center;
	background-color: rgb(52, 58, 64);
}

.side-recipe-div{
	width: 100%;
	padding-bottom: 18%;
	margin: 1rem auto;
	background-color: rgba(137, 61, 70, 0.8);
}


/* Main Column */

#clicked-recipe{
	padding: 18%;
}


/* Clicked Recipe */

#main-recipe-title{
	margin-bottom: 10%;
	height: auto;
}

#main-recipe-description{
	margin-bottom: 10%;
	height: auto;
}

#main-recipe-ingredients{
	margin-bottom: 10%;
	height: auto;
}

#main-recipe-link{
	margin-bottom: 10%;
	height: auto;
}


/* Wine Column */

#wine-type{
	margin: 1rem;
	padding: 1rem;
}

#wine-type-description{
	position: relative;
	margin: 1rem;
	padding: 1rem;
}
#wine-button{
	position: absolute;
	right: 0;
	bottom: 0;
}

#wine-brand{
	margin: 1rem;
	padding: 1rem;
}

#wine-brand-description{
	margin: 1rem;
	padding: 1rem;
}

#wine-brand-price{
	margin: 1rem;
	padding: 1rem;
}

#wine-brand-link{
	margin: 1rem;
	padding: 1rem;
}

#wine-brand-image{
	margin: 1rem;
	padding: 1rem;
}
